.hero-section {
  padding: 200px 0 280px ;
  background-image: linear-gradient(
    to right, 
    $background-gradient-color,
    $background-gradient-color
  ) ,
   url('../images/background-image.jpg');
  max-height: 600px;
  background-repeat: no-repeat ;
  background-size: cover ;
  background-position: center ;
  text-align: center;
 }
 .main__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: 0 ;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px ;
  max-width: 700px;
}